
.txtbanner {
	height: 100%;
	position: relative;
	width: 100%;
}
#rowbanner {
	height: 100%;
}
.divtitle {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}
.titleBanner {
	align-items: center;
	display: flex;
	height: 100px;
	left: 0px;
	top: 50%;
	h3 {
		color: #fff;
		font-size: 38px;
		font-weight: 600;
		letter-spacing: -1px;
		margin: 0px;
		margin-left: 90px;
		text-shadow: 1px 2px 5px #000;
		span {
			background: $colorred;
			padding: 0px 12px;
		}
	}
}

.formabout {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	right: 0px;
}

.formularioreg {
	background: #fff;
	color: #333;
	font-size: 14px;
	margin-top: 100px;
	padding: 30px;
	text-align: left;
	width: 400px;
	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 18px;
		font-weight: 600;
	}
}

.secionabout h3 {
	color: $colorblue;
	font-weight: 800;
	margin-bottom: 50px;
	span {
		color: $colorred;
	}
}
.spanmore {
	font-weight: 400;
}
.ulpasos {
	list-style: none;
	margin: 0px;
	margin-right: 100px;
	margin-top: 40px;
	padding: 0px;
	li {
		align-items: center;
		color: #6d6e71;
		font-size: 14px;
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;

		.ico {
			font-size: 18px;
			color: $colorred;
			height: 20px;
			margin-right: 10px;
			overflow: hidden;
			width: 20px;
		}
	}
}

.imgpasos {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.icopasos {
	height: 70%;
	width: 100%;
	img {
		height: 100%;
		width: auto;
	}
}

.imgexp {
	height: 250px;
	margin-bottom: 15px;
	overflow: hidden;
	width: 100%;
	img {
		height: auto;
		width: 100%;
	}
}

.tituloexp .titulorojo {
	color: $colorred;
}
.tituloexp {
	color: $colorblue;
	font-size: 16px;
	font-weight: 600;
}

#comotrabajamos {
	background: #f2f2f2;
}
.comotrab {
	align-items: center;
	display: flex;
	justify-content: center;
	.ico {
		align-items: center;
		display: flex;
		height: 60px;
		justify-content: center;
		margin-right: 50px;
		width: 22%;
		img {
			height: auto;
			width: 100%;
		}
	}
}

.infocomo {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	h4 {
		font-size: 19px;
		color: $colorblue;
	}
	p {
		font-size: 14px;
		font-weight: 400;
	}
}

.tipo {
	width: 100%;
}
.imgtipo {
	height: 200px;

	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
	img {
		height: auto;
		width: 100%;
	}
}
.titletipo h3 {
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 40px;
}

.txtitle p {
	font-size: 14px;
	font-weight: 400;
}

.imgcomo {
	align-items: center;
	display: flex;
	height: 300px;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	img {
		height: 100%;
		width: auto;
	}
}

.titulopqr {
	margin-right: 50px;
	h4 {
		font-size: 18px;
		color: $colorblue;
	}
	p {
		font-size: 14px;
		font-weight: 400;
	}
}

#regfooter {
	background: url("#{$imagespath}/howorks/regfooter.jpg") center center;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	text-align: center;
	min-height: 400px;
}

#formfooter {
	.formularioreg {
		margin-top: 40px;
	}
	.formabout {
		position: relative;
		width: 100%;
	}
}
