#banner {
	height: 700px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
.formulario {
	background: rgba(255, 255, 255, 0.9);
	min-height: 450px;
	left: 100px;
	position: absolute;
	top: 170px;
	width: 350px;
	z-index: 2;
	border-radius: 6px;
	form {
		text-align: center;
		div.formulario-select:nth-child(1) div:nth-child(1) {
			width: 100%;
		}
		label {
			margin-bottom: 2px;
			text-align: left;
			width: 100%;
		}
		select {
			background: none;
			border: 1px solid #a2a2a2;
			border-radius: 4px;
			color: #000;
			margin: 0px;
			padding: 5px;
			width: 100%;
		}
		input[type="text"] {
			background: none;
			border: 1px solid #a2a2a2;
			border-radius: 4px;
			color: #000;
			margin: 0px;
			padding: 5px;
			width: 100%;
		}
	}
	.formulario-select {
		display: flex;
		div {
			margin: 2px 5px;
			width: 100%;
		}
	}
}
.exclama-label {
	position: relative;
	cursor: pointer;
	&:hover .exclama-texto {
		display: block;
	}
}
.exclama-texto {
	background: $colorblue;
	color: #fff;
	display: none;
	font-size: 0.8em;
	left: 68px;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 120px;
	z-index: 4;
}
.exclama {
	color: $colorblue;
	margin-left: 4px;
	position: relative;
}

.formulario-top {
	background: $colorblue;
	border-radius: 5px 5px 0px 0px;
	color: #fff;
	font-size: 0.73em;
	font-weight: 700;
	min-height: 40px;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 100%;
}
.formulario-datos {
	font-size: 14px;
	padding: 5px 15px 15px;
}
.subastar {
	overflow: hidden;
	width: 200px;
	margin: auto;
	border-radius: 2px;
	margin-top: 11px;
	a {
		position: relative;
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		height: 45px;
		font-size: 15px;
		&:hover span {
			transform: translatex(100%);
		}
		&:before {
			margin: auto;
			left: 50%;
			z-index: 1;
			padding: 10px 20px;
			background: #ee4136;
			color: #fff;
			content: attr(title);
			transition: transform 0.3s ease 0s;
			transform: translateX(-50%);
			width: 200px;
			height: 45px;
			position: absolute;
			top: 0;
		}
		span {
			display: block;
			margin: auto;
			position: relative;
			padding: 10px 20px;
			background: #1b75bb;
			transition: transform 0.3s ease 0s;
			width: 200px;
			z-index: 2;
		}
	}
}

.banner-promo {
	border: 3.5px solid #fff;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	min-height: 100px;
	position: absolute;
	right: 130px;
	text-align: center;
	top: 61%;
	width: 270px;
	z-index: 2;
	transform: translateY(-50%);
}
.banner-promo-titulo {
	background: #1b75bb;
	color: #fff;
	margin: auto;
	margin-top: -25px;
	padding: 9px 5px;
	position: relative;
	width: 150px;
	z-index: 2;
}
.banner-promo {
	h4 {
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 0px;
	}
	h3 {
		color: #fff;
		font-size: 2.4em;
		font-weight: 700;
		margin: 7px 14px 0px 14px;
		margin-top: 7px;
		margin-bottom: 0px;
		position: relative;
	}
	h5 {
		font-weight: 500 !important;
		margin-bottom: 0px;
	}
}

.login_modal_body .label_icon {
	color: $colorblue;
}
.modal_login_alert {
	display: none;
	&.show {
		display: block;
	}
}

.porsolo {
	bottom: 2px;
	position: relative;
}
.label-naranja {
	align-items: baseline;
	background: url("#{$imagespath}/label_naranja.svg") center top -2px no-repeat;
	background-size: 100% 100%;
	display: flex;
	font-family: "antonio";
	font-size: 2.2em;
	height: 81px;
	justify-content: center;
	margin: auto;
	position: relative;
	transform: scale(1.45);
	width: 100%;
	z-index: 2;
	.moneda {
		font-size: 17px;
		margin-left: 2px;
	}
}
.banner-promo-estado {
	background: #fff;
	color: #000;
	font-weight: 800;
	margin: auto;
	margin-top: -19px;
	padding: 7px 0px;
	position: relative;
	max-width: 50%;
	p {
		font-size: 1em;
		margin-bottom: 0px;
	}
}

.caracteristicas {
	align-items: flex-start;
	padding: 0;
	text-align: center;
	justify-content: center;
	display: flex;
	margin-bottom: 0.9rem;
	h5 {
		font-size: 0.65em;
		font-weight: 700;
	}
	li {
		list-style: none;
		text-align: center;
		width: 100%;
	}
	div {
		border: 2px solid #1b75bb;
		font-size: 1.2em;
		height: 40px;
		line-height: 39px;
		list-style: none;
		margin: 0 auto;
		margin-bottom: 7px;
		position: relative;
		width: 40px;
		border-color: #fff !important;
	}
	li:not(:last-child) div::after {
		color: #1b75bb;
		content: "+";
		font-size: 1em;
		font-weight: 900;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -31px;
	}
}
#rangos {
	display: flex;
}
#input-with-keypress-0 {
	margin-right: 10px;
}
#slider-snap {
	margin: 0 auto;
	margin-bottom: 7px;
	margin-top: 15px;
	width: 100%;
	.noUi-connect {
		background: #1b75bb;
	}
}

#subasta_timer {
	padding: 5px;
	display: inline-block;
	background: #f2f2f2;
	border: 1px solid #cfd9e0;
	border-bottom: 0;
	width: 62px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	color: #424242;
	font-size: 15px;
	text-align: center;
}

/* Subscripcion */
.promociones {
	background: #e6e7e8;
	border-radius: 14px;
	box-sizing: border-radius;
	min-height: 10px;
	overflow: hidden;
	position: relative;
}

.promociones-form {
	padding: 50px 60px;
}
form#promo {
	display: flex;
	width: 100%;
	input[type="text"],
	input[type="email"] {
		padding: 10px 15px;
	}
}
.promociones-foto {
	background: url("#{$imagespath}/subastas-turisticas-promociones.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}
.promociones .wrapper {
	height: auto;
	left: 50%;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	h4 {
		font-size: 22px;
		line-height: 20px;
		margin-top: 10px;
	}
	img {
		height: auto;
		position: relative;
		width: 40%;
	}
}

// Destacados
#destacados {
	background: url("#{$imagespath}/subastas-turisticas-destacados.jpg") center
		no-repeat;
	background-size: cover;
	min-height: 100px;
	padding: 80px 0px 0px 0px;
}
.plan_inner,
.destacado_inner,
.auction_inner {
	padding-bottom: 70px !important;
}

.destacador-arrow {
	position: absolute;
	background: #1a75bb;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	padding: 8px 14px;
	z-index: 15;
	cursor: pointer;
	font-size: 20px;
	&.destacados-arrow-left {
		left: 0;
	}
	&.destacados-arrow-right {
		right: 0;
	}
}

.icon-destacados,
.icon-planes {
	font-size: 65px;
}

/* Planes */

#planes::after {
	background: url(#{$imagespath}/subastas-triangulo-down.png) repeat-x center
		top;
	background-size: 60px auto;
	content: "";
	height: 40px;
	left: 0;
	position: absolute;
	bottom: -40px;
	width: 100%;
	z-index: 2;
}

#planes {
	background: #1b75bb;
	min-height: 700px;
	position: relative;
	&::before {
		background: url(#{$imagespath}/subastas-triangulo.png) repeat-x center top;
		background-size: 60px auto;
		content: "";
		height: 40px;
		left: 0;
		position: absolute;
		top: -16px;
		width: 100%;
	}
	input,
	select {
		background: none;
		border: 1px solid #fff;
		color: #fff;
		margin: 0px 10px;
		padding: 10px;
		width: 300px;
	}
	select option {
		background: #1b75bb;
		border: 1px solid #fff;
	}
}

.planes {
	background: #fff;
	height: 400px;
	margin: 0 auto;
	margin-top: 60px;
	position: relative;
	width: 100%;
	transition: all 0.3s;
	&:hover {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.651);
	}
}

.planes-icono {
	background: #ee4136;
	background-size: 30px;
	height: 45px;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	width: 45px;
	z-index: 1;
	align-items: center;
	justify-content: center;
	i.icon-martillo {
		color: white;
		font-size: 30px;
	}
}

.planes-foto {
	background: #676767;
	height: 57%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	img {
		height: auto;
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
		width: 100%;
		z-index: 0;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
}

.planes-ciudad {
	margin: 0 auto;
	top: 50%;
	position: relative;
	text-align: center;
	width: 100%;
	h3 {
		background: #1b75bb;
		color: #fff;
		font-size: 19px;
		font-weight: 700;
		margin: 0 auto;
		min-height: 35px;
		padding: 10px;
		position: relative;
		text-align: center;
		width: 208px;
	}
}
.precio {
	align-items: baseline;
	border-bottom: 1px dotted #333;
	color: #333;
	display: flex;
	font-size: 30px;
	font-weight: 700;
	justify-content: center;
	margin: 5px auto 15px;
	width: 80%;
	p {
		margin-bottom: 0px;
	}
	.precio_moneda {
		font-size: 14px;
		margin-left: 5px;
	}
}
.caracteristicas {
	padding: 0;
	text-align: center;
	justify-content: center;
	align-items: flex-start;
	display: flex;
	margin-bottom: 0.9rem;
	li {
		list-style: none;
		text-align: center;
		width: 100%;
		div {
			border: 2px solid #1b75bb !important;
			font-size: 1.2em;
			height: 40px;
			line-height: 39px;
			list-style: none;
			margin: 0 auto;
			margin-bottom: 7px;
			position: relative;
			width: 40px;
		}
	}
	h5 {
		font-size: 0.65em;
		font-weight: 700;
	}
}
