#banner_application {
	padding: 0;
	position: relative;
}
.banner_application {
	height: 50vh;
	min-height: 430px;
	overflow: hidden;
	img {
		width: 100%;
	}
	.nombreHabitacion {
		top: inherit;
		bottom: 40%;
		transform: translateY(50%);
	}
}

.filtro_general {
	text-align: center;
}

.filtro_inputs {
	display: flex;
	justify-content: center;
	.field {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		& + .field {
			margin-left: 10px;
		}
	}
}

.desctacados_items_wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	justify-content: space-around;
}
