select.select_principal:disabled {
	background-color: #e9ecef;
}
input[readonly],
select[readonly] {
	background-color: white !important;
}

.box {
	padding: 25px 15px;
	border: 1px solid #dedede;
	background: white;
	margin-bottom: 15px;
}
.formHome {
	width: 100%;
}


.hotel_images ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
}
.hotel_image_item,
.hotel_division {
	width: 150px;
	box-shadow: 0 0 2px #898f94;
	height: 150px;
	margin-right: 7px;
	cursor: grab;
}
.imgHotel {
	position: relative;
	height: 100%;
	width: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.custom-file-input {
	max-width: 100% !important;
	height: 100% !important;
	width: 100%;
	position: absolute;
	cursor: pointer;
	left: 0;
}
.required,
.note {
	span.required {
		color: $colorred;
	}
}



.imgHotel img {
	width: auto;
	height: 100%;
	position: absolute;
	left: -99999px;
	right: -99999px;
	top: -99999px;
	bottom: -99999px;
	margin: auto;
}
.hotel_image_item .button_remove_img {
	z-index: 10;
	padding: 1px 6px !important;
	position: absolute;
	right: 5px;
	font-weight: lighter;
	top: 5px;
}

.hotel_division {
	background: #e4e4e4;
}

.form-check-input {
	position: absolute;
	margin-top: 0.3rem;
	margin-left: 0;
}
.form-check-label span {
	margin-left: 17px;
}
.titleServiciosNM {
	color: #0d4154;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
}
.titleHabitaciones {
	color: #284e5e;
	font-weight: normal;
	font-size: 14px;
}
.ckeditor_initial {
	border: 1px solid #ced4da !important;
	min-height: 80px;
}
.radio_custom {
	display: flex;
	cursor: pointer;
	align-items: center;
	.radio_wrap {
		width: 17px;
		height: 17px;
		background: #e8e8e8;
		border: 1px solid #d3d3d3;
		position: relative;
		border-radius: 50%;
	}
	input[type="radio"] {
		position: absolute;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 190;
		opacity: 0;
		&:checked + .radio_circle {
			display: block;
		}
	}
	.radio_circle {
		display: none;
		position: absolute;
		width: 60%;
		height: 60%;
		background: $colorblue;
		left: 50%;
		border-radius: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	label {
		margin-left: 7px !important;
		cursor: pointer;
	}
}

.checkbox_custom {
	display: flex;
	align-items: center;
	.checkbox_wrap {
		width: 20px;
		height: 20px;
		background: #e8e8e8;
		border: 1px solid #d3d3d3;
		position: relative;
		border-radius: 2px;
	}
	& > label {
		cursor: pointer;
		padding-left: 7px;
	}
	input[type="checkbox"] {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		opacity: 0;
		cursor: pointer;
		z-index: 15;
		& + i {
			color: #1575bb;
			position: absolute;
			display: none;
			top: 50%;
			height: 100%;
			width: 100%;
			left: 50%;
			transform: translate(-43%, -50%);
		}
		&:checked + i {
			display: block;
		}
	}
}

.main_admin_nav_wrap .nav-link i {
	font-size: 16px;
}
.form_alert_toggle {
	display: none;
	&.show {
		display: block;
	}
}

.autocomplete_lists {
	position: absolute;
	width: 100%;
	z-index: 80;
	top: 100%;
	display: none;
	&.show {
		display: flex;
	}
	li {
		cursor: pointer;
	}
}

.actions_list_wrap {
	position: absolute;
	right: 0;
	width: 140px;
	z-index: 10;
	display: none;
	background: white;
	border: 1px solid #e4e4e4;
	top: 104%;
	border-radius: 2px;
	&.show {
		display: block;
	}
}
.admin_title {
	font-weight: 400;
	color: $colorblue;
	font-size: 22px;
	margin-bottom: 20px;
}

.actions_list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.actions_list li a {
	padding: 6px 7px;
	text-transform: initial;
	font-weight: 400;
	text-align: left;
	color: $colorblue;
	display: block;
	transition: background 0.3s;
	&:hover {
		background: #dfecf5;
		text-decoration: none;
	}
}

.box_card {
	border: 1px solid #dedede;
	background: white;
	margin-bottom: 15px;
	.box_content {
		padding: 20px 15px;
	}
	.box_head {
		background: #1575bb;
		color: white;
		text-align: center;
		padding: 10px;
		h3 {
			margin: 0 !important;
			font-size: 20px;
			font-weight: 400;
		}
	}
}

.information_group {
	margin-bottom: 0.2rem;
}

.information_label {
	display: inline-block;
	color: #2a4354;
	font-size: 17px;
	width: 170px;
	font-weight: 500;
}
.information_value,
.information_list li {
	position: relative;
	color: #4a4a4a;
	font-size: 15px;
	font-weight: 400;
}

#filtering_wrap_abs {
	display: flex;
	align-items: center;
}
select.select_filtering,
select#subastas_filtro {
	display: none;
	padding: 9px;
	width: inherit;
	margin-right: 5px;
	&.show {
		display: inline-block;
	}
}

select.select_paginator {
	width: 8% !important;
	margin-right: 4px;
}

.pagination_wrap {
	display: flex;
	align-items: center;
}
ul.ul_paginator {
	font-size: 11px;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 100%;
	display: inline;
	li {
		display: inline;
		a,
		a:link,
		a:visited {
			color: $colorblue;
			border-radius: 2px;
			padding: 9px 16px;
			background: white;
			font-size: 14px;
			text-decoration: none;
			font-weight: 400;
			margin: 0 2px;
			border: 1px solid #dadada;
		}
		&:not(.active):hover a {
			border-color: $colorblue;
		}
	}
	li.active a {
		background: $colorblue;
		color: #ffffff;
		font-weight: 500;
	}
	li.disabled a {
		border: 1px solid rgb(194, 194, 194);
		cursor: not-allowed;
		background: rgb(247, 247, 247);
	}
}
