.admin_header {
	display: flex;
	justify-content: space-between;
}
.imgPerfil {
	overflow: hidden;
	width: 50px;
	height: 50px;
	position: relative;
	margin: auto;
	border-radius: 7px;
	img {
		height: 100%;
	}
}

.navbar-nav {
	align-items: center;
	float: none !important;
	justify-content: center;
	text-align: center !important;
}
#navbardrop {
	text-transform: uppercase;
	font-size: 10px !important;
	color: #0d4154;
	font-weight: bold;
}

.navbar-nav .active,
.nav-item:hover,
.nav-item:hover > a,
.nav-item:hover i:before {
	color: white !important;
	background-color: #ee4136;
	cursor: pointer;
	transition: none;
}

.nav-item.active a {
	color: white !important;
}

#collapsibleNavbar > ul > li > a {
	color: #2a4354;
	text-transform: uppercase;
	padding: 11px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60px;
	justify-content: center;
	width: 145px;
	font-weight: 700;
}

.jumbotronInt {
	border-bottom: 1px solid #c5c5c5;
	margin-bottom: 0px !important;
}

.jumbotron {
	padding-top: 20px !important;
	padding-bottom: 0px !important;
	background-color: #ffffff !important;
}
.admin_logo_wrap img {
	width: 220px;
}
.navbar-nav {
	align-items: center;
	float: none !important;
	justify-content: center;
	text-align: center !important;
}
#main_admin_button_nav {
	display: none;
}
#main_admin_wrap {
	padding: 0;
}
#index {
	background-color: #f4f4f4;
	padding: 30px 0px;
}
.breadcrumb_admin {
	border: 1px solid #dedede;
	border-radius: 2px;
	margin-bottom: 9px;
	background: white;
	padding: 10px 15px;
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		a,
		span {
			padding: 0 6px;
			font-size: 14px;
			color: #2a4354;
		}
	}
}
.breadcrumb_admin ul li + li:before {
	content: "\0003E";
	font-weight: 300;
	color: #0d4154;
}

