@font-face {
	font-family: "Antonio";
	src: url("#{$fontspath}/Antonio-Light.eot");
	src: url("#{$fontspath}/Antonio-Light.eot?#iefix") format("embedded-opentype"),
		url("#{$fontspath}/Antonio-Light.woff2") format("woff2"),
		url("#{$fontspath}/Antonio-Light.woff") format("woff"),
		url("#{$fontspath}/Antonio-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Antonio";
	src: url("#{$fontspath}/Antonio-Bold.eot");
	src: url("#{$fontspath}/Antonio-Bold.eot?#iefix") format("embedded-opentype"),
		url("#{$fontspath}/Antonio-Bold.woff2") format("woff2"),
		url("#{$fontspath}/Antonio-Bold.woff") format("woff"),
		url("#{$fontspath}/Antonio-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Antonio";
	src: url("#{$fontspath}/Antonio-Regular.eot");
	src: url("#{$fontspath}/Antonio-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("#{$fontspath}/Antonio-Regular.woff2") format("woff2"),
		url("#{$fontspath}/Antonio-Regular.woff") format("woff"),
		url("#{$fontspath}/Antonio-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

$antonioFont: "Antonio";

.antonio {
	font-family: $antonioFont;
}
