$icomoon-font-family: "subastas-turisticas" !default;
$icomoon-font-path: "#{$publicpath}/fonts" !default;

$icon-ulpasos: "\e90b";
$icon-martillo: "\e90a";
$icon-login: "\e901";
$icon-send: "\e902";
$icon-destacados: "\e903";
$icon-zoom: "\e904";
$icon-planes: "\e905";
$icon-breakfast: "\e906";
$icon-hotel: "\e907";
$icon-plane: "\e908";
$icon-clock: "\e909";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-linkedin2: "\eaca";
$icon-exclamation: "\e900";
$icon-user: "\e971";
$icon-search: "\e986";

@font-face {
	font-family: "#{$icomoon-font-family}";
	src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k9k1ke");
	src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k9k1ke#iefix")
			format("embedded-opentype"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?k9k1ke")
			format("truetype"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?k9k1ke")
			format("woff"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?k9k1ke##{$icomoon-font-family}")
			format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "#{$icomoon-font-family}" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ulpasos {
	&:before {
		content: $icon-ulpasos;
	}
}
.icon-martillo {
	&:before {
		content: $icon-martillo;
	}
}
.icon-login {
	&:before {
		content: $icon-login;
	}
}
.icon-send {
	&:before {
		content: $icon-send;
	}
}
.icon-destacados {
	&:before {
		content: $icon-destacados;
	}
}
.icon-zoom {
	&:before {
		content: $icon-zoom;
	}
}
.icon-planes {
	&:before {
		content: $icon-planes;
	}
}
.icon-breakfast {
	&:before {
		content: $icon-breakfast;
	}
}
.icon-hotel {
	&:before {
		content: $icon-hotel;
	}
}
.icon-plane {
	&:before {
		content: $icon-plane;
	}
}
.icon-clock {
	&:before {
		content: $icon-clock;
	}
}
.icon-facebook {
	&:before {
		content: $icon-facebook;
	}
}
.icon-instagram {
	&:before {
		content: $icon-instagram;
	}
}
.icon-twitter {
	&:before {
		content: $icon-twitter;
	}
}
.icon-youtube {
	&:before {
		content: $icon-youtube;
	}
}
.icon-linkedin2 {
	&:before {
		content: $icon-linkedin2;
	}
}
.icon-exclamation {
	&:before {
		content: $icon-exclamation;
	}
}
.icon-user {
	&:before {
		content: $icon-user;
	}
}
.icon-search {
	&:before {
		content: $icon-search;
	}
}
