$blue: #1b75bb;

$border-radius: 3px;
$border-radius-lg: 3px;
$border-radius-sm: 3px;

$modal-header-padding-y: 0.5rem !default;
$modal-header-padding-x: 1rem !default;

/** ------------------- Explicacion de Folders ------------------- */
/* Plugins: CSS Necesarios para plugins */
/* Site: Todos los css necesarios en el sitio que veran los clientes y visitantes  */
/* Admin: Todos los css necesarios que tendran los administradores y hoteles al editar. */
/** ------------------- Explicacion de Folders ------------------- */

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/jquery-ui/themes/base/all.css";
@import "../../node_modules/slick-slider/slick/slick.scss";

@import "./variables.scss";
@import './base.scss';
@import "./core/core.pack.scss";
@import "./admin/admin.pack.scss";
@import "./site/site.pack.scss";
@import "./plugins/plugins.pack.scss";
