/* Estos estilos se usarán tanto en el sitio como en el administrador */

* {
	font-family: "Rubik", sans-serif;
}
a {
	color: inherit;
	transition: all 0.3s ease;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

select.select_principal {
	width: 100%;
	padding: 7px;
	border: 1px solid #ced4da;
	background: white;
	border-radius: 2px;
}

#room-form label,
.modalForm label,
.checkbox_custom span,
.checkbox_custom label,
.radio_custom label,
.radio_custom span,
.label_principal {
	color: #284e5e;
	font-weight: 400;
	display: block;
	width: 100%;
	font-size: 14px;
	text-align: left;
	margin: 0.4rem 0px;
}
@keyframes spinnerLoading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
.button {
	outline: none !important;
	border: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 15px;
	padding: 9px 18px !important;
	text-transform: uppercase;
	transition: all 0.25s ease;
	position: relative;
	border-radius: 2px;
	&.button_load::after {
		content: "";
		margin-left: 12px;
		height: 25px;
		width: 25px;
		display: inline-block;
		border-left-color: transparent;
		animation-name: spinnerLoading;
		animation-timing-function: linear;
		animation-duration: 0.9s;
		animation-iteration-count: infinite;
		border-radius: 50%;
		border: 3px solid white;
		vertical-align: middle;
		border-left-color: transparent;
	}
}
.button:active {
	outline: none !important;
}
.button.button_red {
	background: $colorred;
	color: #fff;
	&:hover {
		background: #db382c;
	}
	&.contrast:hover {
		background: $colorblue;
	}
}
.button.button_blue {
	background: $colorblue;
	color: #fff;
	&:hover {
		background: #1363a0;
	}
	&.contrast:hover {
		background: $colorred;
	}
}

.button.button_white {
	&:hover {
		background: #e7e7e7;
	}

	&.active.tab {
		background: #ffffff;
		margin-bottom: -1px;
	}

	background: #f5f5f5;
	color: rgb(31, 31, 31);
	border: 1px solid #e7e7e7;
}

.button.button_small {
	padding: 6px 12px !important;
	font-size: 13px;
}

.input_text {
	background: white;
	border-radius: 3px;
	padding: 6px 12px;
}

.tablegen-loading {
	position: absolute;
	z-index: 10;
	width: 100%;
	display: none;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding-right: 30px;
	&.show {
		display: flex;
	}
}
#tbody_results {
	min-height: 110px;
	width: 100%;
}
.lds-default {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-default div {
	position: absolute;
	width: 6px;
	height: 6px;
	background: $colorblue;
	border-radius: 50%;
	animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
	animation-delay: 0s;
	top: 37px;
	left: 66px;
}
.lds-default div:nth-child(2) {
	animation-delay: -0.1s;
	top: 22px;
	left: 62px;
}
.lds-default div:nth-child(3) {
	animation-delay: -0.2s;
	top: 11px;
	left: 52px;
}
.lds-default div:nth-child(4) {
	animation-delay: -0.3s;
	top: 7px;
	left: 37px;
}
.lds-default div:nth-child(5) {
	animation-delay: -0.4s;
	top: 11px;
	left: 22px;
}
.lds-default div:nth-child(6) {
	animation-delay: -0.5s;
	top: 22px;
	left: 11px;
}
.lds-default div:nth-child(7) {
	animation-delay: -0.6s;
	top: 37px;
	left: 7px;
}
.lds-default div:nth-child(8) {
	animation-delay: -0.7s;
	top: 52px;
	left: 11px;
}
.lds-default div:nth-child(9) {
	animation-delay: -0.8s;
	top: 62px;
	left: 22px;
}
.lds-default div:nth-child(10) {
	animation-delay: -0.9s;
	top: 66px;
	left: 37px;
}
.lds-default div:nth-child(11) {
	animation-delay: -1s;
	top: 62px;
	left: 52px;
}
.lds-default div:nth-child(12) {
	animation-delay: -1.1s;
	top: 52px;
	left: 62px;
}
@keyframes lds-default {
	0%,
	20%,
	80%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
}

.tablagen {
	background-color: white !important;
	width: 100%;
	height: 50px;
	position: relative;
	margin: auto;
	margin-bottom: 7px;
	border: 1px solid #ced4da;
	thead th {
		padding: 10px 10px;
		background: #1b75bb;
		padding: 10px 10px;
		background: #1b75bb;
		text-align: center;
		color: white;
		border: 0px !important;
		font-weight: 500;
	}
	&.odd tbody tr:nth-of-type(odd) {
		background-color: rgb(249, 249, 249);
	}
	td {
		border-top: none;
		text-align: center;
	}
}

.order_column_th {
	cursor: pointer;
	&.asc:after,
	&.desc:after {
		margin-left: 7px;
		font-size: 11px;
		font-weight: bold;
		font-family: "Font Awesome 5 Free";
	}
	&.asc:after {
		content: "\f106";
	}
	&.desc:after {
		content: "\f107";
	}
}
