$publicpath: "http://localhost:8000";
$assetspath: "#{$publicpath}/assets";
$imagespath: "#{$publicpath}/images";
$fontspath: "#{$publicpath}/fonts";

$fullwide: 1600px;
$wide: 1260px;
$desktop: 991px;
$tablet: 768px;
$mobile: 580px;
$smalmobile: 480px;

$colorblue:#1b75bb;
$colorred:#ee4136;;