.destacado-item {
	position: relative;
	padding: 45px 10px;
	width: 25%;
}
.destacado-label {
	margin: auto;
	height: 70px;
	width: 100%;
	top: 2%;
	z-index: 10;
	position: absolute;
	img {
		height: 100%;
		width: auto;
	}
}
.destacado-caja {
	background: #fff;
	cursor: pointer;
	height: 420px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
	box-shadow: 0 3px 8px #0000001c;
	transition: box-shadow 0.3s;
	&:after {
		filter: drop-shadow(0px 5px 3px #0000001c);
	}
}
.destacado-imagen {
	background: #333;
	height: 225px;
	position: absolute;
	width: 100%;
	overflow: hidden;
	transition: all 0.2s linear;
	img {
		width: 102%;
		height: auto;
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
		z-index: 0;
		transition: all 0.2s ease-in;
	}
}
.destacado-caja:hover {
	box-shadow: 0 3px 8px grey;
}
.destacado-caja:hover:after {
	filter: drop-shadow(0px 5px 3px gray);
}

.destacados-slider .slick-track {
	height: 580px;
}
.destacado-texto {
	top: 240px;
	position: relative;
}
.destacado-caja h4 {
	font-size: 1em;
	margin: auto;
}
.linea2 {
	background: #666;
	height: 1px;
	margin: 10px auto 5px auto;
	position: relative;
	width: 70%;
	z-index: 2;
}
.destacado-ciudad {
	font-size: 1.7em;
	letter-spacing: -0.5px;
}
.destacado-html-price {
	display: flex;
	align-items: center;
	margin: 9px 0;
	justify-content: center;
	flex-direction: column;
	.destacado-normal {
		color: #909090;
		font-size: 0.9rem;
		text-decoration: line-through;
	}
	.destacado-hotted {
		font-size: 1.1rem;
		font-weight: 600;
	}
}
.destacado-precio {
	background: $colorred;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	margin: auto;
	padding: 5px;
	width: 70px;
}

.destacado-caja:after {
	content: "";
	background: url("#{$imagespath}/triangle.svg") center top no-repeat;
	background-size: 100% auto;
	bottom: -45px;
	height: 45px;
	left: 0px;
	position: absolute;
	width: 100%;
	z-index: 3;
	transition: filter 0.3s;
}
