footer#contact {
	background: white;
	padding-bottom: 0;
	padding-top: 80px !important;
}

.footer-info1 {
	font-size: 15px;
}

.rights {
	border-top: 1px solid #666;
	font-size: 15px;
	margin-top: 70px;
	padding: 15px 0px;
}
.footer-info1 img {
	height: auto;
	margin-bottom: 20px;
	width: 280px;
}
.list_social {
	list-style: none;
	padding: 0;
	margin: 1.2rem 0;
	display: flex;
	li + li {
		margin-left: 0.6rem;
	}
	a {
		padding: 10px 20px;
		background: $colorblue;
		color: white;
		display: flex;
		align-items: center;
		font-size: 19px;
		justify-content: center;
		width: 40px;
		border-radius: 50%;
		font-weight: bold;
		border: 1px solid $colorblue;
	}
}

.linea {
	background: #666;
	height: 1px;
	margin-bottom: 20px;
	position: relative;
	width: 80%;
	z-index: 2;
}
.mapa-sitio {
	padding: 0;
	li {
		list-style: none;
		margin-bottom: 11px;
		padding-bottom: 4px;
		overflow: hidden;
		&::before {
			content: ">";
			color: $colorred;
			font-weight: 800;
			padding-right: 17px;
		}
		a {
			position: relative;
			&:after {
				background: $colorred;
				content: "";
				height: 2px;
				left: -100%;
				position: absolute;
				bottom: -4px;
				transition: all 0.2s ease;
				width: 0%;
			}
			&:hover:after {
				left: 0;
				width: 100%;
			}
		}
	}
}
footer form {
	text-align: right;
}
