h2 {
	font-size: 42px;
	font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.2px;
}

section,
footer {
	padding: 110px 0px;
}

.section_gray{
	background: rgb(245, 245, 245);
}

.front_title {
	font-size: 20px;
	font-weight: bold;
}
.naranja {
	color: $colorred;
}

.modal.show {
	display: block;
	background: #000000a6;
}
.modal-footer {
	padding: 0.5rem 1rem;
	.button {
		margin-bottom: 0px;
	}
}

.camera_pag_ul {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center !important;
}
.nombreHabitacion {
	align-items: center;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	height: 100px;
	left: 10%;
	padding: 0px 40px;
	padding-left: 130px;
	position: absolute;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	h3 {
		margin: 0;
	}
}

.nombrehabitacion_icono {
	height: 100%;
	background: #1b75bb;
	left: 0px;
	position: absolute;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
}
.modal {
	background: #00000087;
	align-items: center;
	justify-content: center;
	&.show {
		display: flex;
	}
}

#modal_reserve .modal_wrap {
	width: 95%;
	max-width: 690px;
	margin: auto;
	background: white;
	overflow: auto;
	max-height: 98%;
	border-radius: 5px;
	padding: 1rem;
	box-shadow: 0 0 3px #484848;
}
.modal_close {
	position: absolute;
}

.logo_reserva {
	height: 50px;
	margin-bottom: 1rem;
	text-align: right;
	img {
		height: 100%;
	}
}

.form_wrap_reservation {
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: column;
	overflow: hidden;
}

.only_in_company.field_hidden,
.only_in_natural.field_hidden {
	display: none;
}
.type_person_list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	li {
		margin-bottom: 0;
		margin-right: 0.5rem;
		display: flex;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: 0px !important;
	}
}
#reservation-create-form {
	border: 1px solid #e7e7e7;
	padding: 13px;
}
.modal_terms {
	font-size: 11px;
	text-align: left;
	margin-bottom: 15px;
}

.modal-body {
	max-height: 360px;
	overflow-y: auto;
}
.group-field {
	display: flex;
	justify-content: center;
	.group-before {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.group-before,
	.group-after {
		margin: 0 !important;
		padding: 6px 15px;
		width: 80%;
		font-size: 16px;
	}
	.group-before.group-addon,
	.group-after.group-addon {
		width: 20% !important;
		padding: 0 !important;
	}
}

.alert_error {
	display: none;
	&.show {
		display: block;
	}
}

#galeriadest {
	padding: 0 !important;
	height: 105vh;
}
.servhabitacion {
	border: 1px solid #dedede;
	background: white;
	height: 100%;
}
.allservice {
	background: white;
	border: 1px solid rgb(222, 222, 222);
	padding: 20px;
}
.titleserv {
	font-size: 17px;
	padding: 20px;
	font-weight: 600;
}
.liservice ul.tabs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.list_checkbox {
	display: flex;
	align-items: center;
	padding: 5px 0;
	span {
		line-height: 1.3;
	}
	i {
		color: #525252;
		font-size: 15px;
		margin-right: 5px;
	}
}

ul.tabs li {
	cursor: pointer;
	color: #1b75bb;
	display: -webkit-box;
	display: flex;
	line-height: 20px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	min-height: 50px;
	margin: 0px;
	background: #ffffff;
	padding: 7px 10px;
	font-size: 17px;
	border-bottom: 1px solid #dedede;
	width: 100%;

	&.current {
		background: #ededed;
		border-bottom: 2px solid rgb(27, 117, 187);
	}

	span {
		color: #333;
		font-weight: 500;
		text-align: center;
		font-size: 14px;
	}
}

.tab-content {
	display: none;
	background: #ffffff;
	min-height: 150px;
	padding: 40px;
	&.current {
		display: inherit;
		h4 {
			align-content: center;
			font-size: 17px;
			font-weight: 500;
			margin-bottom: 20px;
			display: flex;
			line-height: 34px;
			vertical-align: middle;
		}
		p {
			font-weight: 400;
			font-size: 14px;
		}
	}
}

.subseccion .icono {
	margin-right: 9px;
	padding-right: 9px;
	display: flex;
	align-items: center;
	color: #1b75bb;
	font-size: 20px;
}

.linea3 {
	background: #ee4136;
	height: 3px;
	position: relative;
	width: 50px;
	z-index: 2;
}

.foto_producto_wrap {
	position: relative;
}
.button_slide_product,
.button_slide_room {
	background: #ffffff9e;
	border: 0;
	position: absolute;
	z-index: 100;
	padding: 14px;
	color: #2b2b2b;
	font-size: 25px;
	top: 50%;
	transform: translateY(-50%);
	&.button_left {
		left: 0;
	}
	&.button_right {
		right: 0;
	}
}

#foto_producto_list {
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 490px;
		overflow: hidden;
		img {
			position: absolute;
			left: -9999px;
			right: -9999px;
			top: -9999px;
			bottom: -9999px;
			margin: auto;
			width: 100%;
			height: auto;
		}
	}
}
#fotos_producto_list {
	padding: 0;
	margin: 0;
	div.foto_wrap {
		padding: 10px 5px;
	}
	.slick-current {
		opacity: 0.8;
	}
	.slick-slide {
		outline: none;
	}
	li {
		cursor: pointer;
		display: inline-block;
		position: relative;
		width: 100%;
		height: 100px;
		overflow: hidden;

		img {
			position: absolute;
			left: -9999px;
			right: -9999px;
			top: -9999px;
			bottom: -9999px;
			margin: auto;
			width: 100%;
			height: auto;
		}
	}
}
.fotosProducto {
	margin-bottom: 10px;
}
.message_info p {
	font-size: 19px;
	color: #1b75bb;
	padding: 15px;
	border: 1px solid #dedede;
	background: white;
}

.infoPlanes {
	background: #1b75bb;
	position: relative;
}
.column_reserv {
	padding: 5px 15px !important;
}

.infoPlanes label,
.pricetitle,
.price {
	color: #fff;
	font-weight: 500;
	margin-top: 10px;
}

.col_gutter.column_reserv {
	padding: 0 15px !important;
}
.inf-iz {
	text-align: left;
}
.pricetitle {
	font-size: 15px;
	font-weight: 500;
}
.price {
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	margin: 0px;
	span {
		font-size: 12px;
		font-weight: 400;
	}
}
.infoPlanes input {
	border: 0px;
	border-bottom: 1px solid #ffffff99;
	border-radius: 0px;
	color: #fff;
	font-weight: 300;
	padding: 5px 0;
	height: 30px;
	&:disabled {
		background: none;
	}
}
.aditions_auction {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #1b5282;
	padding-bottom: 15px;
	li {
		color: white;
		position: relative;
		padding-left: 21px;
		&:before {
			position: absolute;
			content: "";
			width: 8px;
			height: 8px;
			border: 3px solid white;
			left: 5px;
			top: 7px;
			border-left: none;
			border-bottom: none;
			border-radius: 2px;
			transform: rotate(45deg);
		}
	}
}

#slider_images_room {
	padding: 0;
	li {
		height: 450px;
		position: relative;
		img {
			position: absolute;
			height: auto;
			left: -9999px;
			right: -9999px;
			top: -9999px;
			bottom: -9999px;
			margin: auto;
			width: 100%;
		}
	}
	.slick-slide {
		height: inherit !important;
	}
}
.slider_images_room_wrap {
	position: relative;
}
