@keyframes headerFixedAnim {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

header#header_site {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+51,ffffff+78,ffffff+100&1+51,0.57+78,0+100 */
	background: -moz-linear-gradient(
		top,
		rgba(255, 255, 255, 1) 51%,
		rgba(255, 255, 255, 0.57) 78%,
		rgba(255, 255, 255, 0) 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		top,
		rgba(255, 255, 255, 1) 51%,
		rgba(255, 255, 255, 0.57) 78%,
		rgba(255, 255, 255, 0) 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 1) 51%,
		rgba(255, 255, 255, 0.57) 78%,
		rgba(255, 255, 255, 0) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	min-height: 175px;
	background-size: auto 100%;
	display: flex;
	padding: 0px 120px;
	position: absolute;
	top: 0;
	justify-content: space-between;
	width: 100%;
	z-index: 50;
	&.fixed {
		z-index: 110;
		animation-name: headerFixedAnim;
		animation-duration: 0.2s;
		animation-timing-function: linear;
		min-height: inherit;
		position: fixed;
		height: 65px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.479);
		background: white;
		.logo {
			margin: 0;
			height: 100%;
			display: flex;
			align-items: center;
			img {
				height: auto;
				width: 150px;
			}
		}
	}
}

.logo {
	margin-top: 20px;
	img {
		height: auto;
		width: 300px;
	}
}

#three {
	display: none;
}
header#header_site nav {
	position: relative;
	text-align: right;
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
	ul {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		padding: 0px;
		margin: 0;
		li {
			list-style: none;
			a {
				color: #333;
				display: block;
				padding: 5px 10px;
				position: relative;
				&:hover {
					color: inherit;
					text-decoration: none;
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					-ms-transition: all 0.3s ease;
				}
				&:after {
					background: $colorred;
					content: "";
					height: 2px;
					left: -100%;
					position: absolute;
					bottom: -4px;
					transition: all 0.2s ease;
					width: 0%;
				}
				&:hover:after {
					left: 0;
					width: 100%;
				}
			}
		}
	}
}

.login_modal_body {
	display: none;
	&.show {
		display: block;
	}
}

#div_search button,
#div_login button {
	padding: 6px 12px !important;
}
header#header_site.fixed .nav-wrapper {
	margin-top: 0;
}
.nav-wrapper {
	margin-top: 30px;
	display: flex;
	right: 0;
	top: 0;
	flex-direction: row-reverse;
}
.nav-top {
	margin: 0px 7px;
	display: flex;
	align-items: center;
}
.menu {
	font-size: 14px;
}

.nav-top ul li {
	margin-right: 0px;
}

#div_login {
	cursor: pointer;
	text-align: center;
}
#div_profile,
#div_login {
	margin-right: 7px;
}
#div_profile button:hover {
	.subitem_header {
		display: flex;
	}
}
.subitem_header {
	background: white;
	position: absolute;
	z-index: 10;
	top: 100%;
	color: black;
	display: none;
	padding: 5px 0;
	right: 0;
	border: 1px solid gainsboro;
	.sublist_header {
		flex-direction: column;
		width: 155px;
		align-items: flex-end;
		font-size: 15px;
		li {
			display: block;
			width: 100%;
			text-transform: initial;
			font-weight: 400;
			text-align: right;
			a {
				padding: 3px 8px;
				&:after {
					display: none;
				}
				&:hover {
					background: #f3f3f3;
				}
			}
		}
	}
}

#search_in_mobile {
	display: none;
	input[type="text"] {
		border: 1px solid #e7e7e7;
		border-right: none;
	}
}
@media (max-width: $fullwide) and (min-width: $wide) {
	.menu {
		font-size: 14px;
		min-width: 490px;
		padding-top: 0;
	}
}

@media (min-width: $desktop) {
	#search_in_mobile {
		&.active{
			top: 100%;
		}
		background: white;
		display: block;
		position: absolute;
		right: 0;
		width: 100%;
		top: -100%;
		transition: top 0.4s;
		padding: 10px 20px;
		box-shadow: 0 3px 3px #0000002b;
		&.show {
			top: 100%;
		}
	}
}
